.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.pagination a,
.pagination span {
  /*color: white;*/
  padding: 8px 16px;
  background: #fbeebc;
  border: 1px solid white;
  cursor: pointer;
}

.pagination span {
  color: black;
  background: none;
}

.pagination a.active {
  border: 2px solid #fbeebc;
  background: white;
  /*color: #F15B42;*/
}