.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.pagination a,
.pagination span {
  /*color: white;*/
  padding: 8px 14px;
  background: #fbeebc;
  border: 1px solid white;
  cursor: pointer;
  border-radius: 5px;
  color: black;
}

.pagination span {
  color: black;
  background: none;
}

.pagination a.active {
  border: 2px solid #fbeebc;
  background: white;
  /*color: #F15B42;*/
}

@media(max-width: 500px) {
  .pagination a, .pagination span {
    display: none;
  }

  .pagination .arrows {
    display: inline-block;
  }

  .pagination a.active {
    display: inline-block;
  }

}