.search-panel .wrap {
  border: 2px solid #ddd;
  display: flex;
  flex-direction: row;
  border-radius: 5px;
}

.search-panel .input-with-icon {
  border: none;
  flex: 1;
}

.search-panel .input-with-icon::placeholder {
  font-size: 16px;
  color: rgba(221, 221, 221, 0.9);
}

.search-panel .input-icon, .input-with-icon {
  font-family: 'Montserrat Alternates', sans-serif;
  padding: 10px;
  font-size: 16px;
}

.search-panel .search-icon {
  display: flex;
  align-self: center;
  padding: 10px;
  background: #fbeebc;
  font-size: 20px;
}
