.show-table {
  margin: 3.5rem auto;
  max-width: 1400px;
  overflow: auto;
}

.show-table table {
  font-family: 'Raleway', sans-serif;;
  width: 100%;
  font-size: 22px;
  border-spacing: 8px;
}

.show-table thead th {
  padding: 15px;
  border: 3px solid #f3f2f2;
}

.show-table td {
  text-align: center;
}

.show-table thead .table-sort {
  width: 20px;
  vertical-align: middle;
  margin-left: 5px;
  cursor: pointer;
}

.show-table thead .show-number {
  width: 7%;
}

.show-table thead .picture {
  width: 34%;
}

.show-table thead .year {
  width: 13%;
}

.show-table thead .name {
  width: 27%;
}

.show-table thead .viewers {
  width: 19%;
}

.show-table tbody tr:nth-child(odd) {
  background: #fafafa;
}

.show-table tbody tr:nth-child(even) {
  background: #f3f2f2;
}

@media(max-width: 850px) {
  .show-table table {
    font-size: 12px;
  }


  .show-table thead .table-sort {
    /*width: 14px;*/
    display: none;
  }

  .show-table tbody img {
    width: 70px;
  }
}